<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                Welcome to Your Profile {{namaDepan}} {{namaBelakang}}!
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-button size="small" (click)="upload()">
                <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
                <ion-label>Upload</ion-label>
            </ion-button>
            <ion-button size="small" (click)="getPicture('gallery')">
                <ion-icon name="image" slot="start"></ion-icon>
                <ion-label>Gallery</ion-label>
            </ion-button>

            <input type="file" *ngIf="isDesktop" #filePicker (change)="onFileChoose($event)" />
            <ion-card *ngIf="photo">
                <ion-card-content>
                    <img class="profile-picture" [src]="photo">
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item *ngFor="let data of feed">
            <ion-label style="font-size: 12px;">(Lat,Lng): {{ data.lat }}, {{ data.lng }} at {{data.time| date:'mediumDate'}}</ion-label>
            <ion-buttons>
                <ion-button (click)="deleteLoc(data.key)">
                    <ion-icon name="close-circle-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer (click)="logout()">
    <ion-toolbar color="secondary">
        <ion-title>Log Out</ion-title>
    </ion-toolbar>
</ion-footer>