<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/add-friend"><ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/show-friend"><ion-icon name="accessibility-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/home-map"><ion-icon name="image-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to DashBoard {{namaDepan}} {{namaBelakang}}!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID: {{userEmail}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-card *ngIf="photo">
        <ion-card-content>
          <img class="profile-picture" [src]="photo">
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log Out</ion-title>
  </ion-toolbar>
</ion-footer>
